.search-form{
    padding: 80px 5.469% 10px;
    border: solid 1px red;
}

.search-form__box{
    display: flex;
    justify-content: space-between;
    width: auto;
    padding-bottom: 83px;
    border-bottom: #E8E8E8 1px solid;
}

.search-form__bar{
    width: 81.9%;
    position: relative;
    height: 48px;
    margin: 0;
    padding: 0;
    border: 1px solid #E8E8E8;
    border-radius: 30px;
}

.search-form__input{
    width: 100%;
    height: 100%;
    padding: 0;
    height: 48px;
    margin: 0 7px 0 18px;
    border: none;
}

.search-form__input:focus{
    outline: none;
}

.search-form__input::placeholder{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #A0A0A0;
}

.search-form__submit-btn{
    position: absolute;
    width: 34px;
    height: 34px;
    top: 7px;
    right: 7px;
    padding: 0;
    margin-left: 46px;
    border: none;
    background-color: #FFFFFF;
}

.search-form__button-img{
    padding: 0;
}

@media screen and (max-width: 1110px) {

    .search-form{
        padding: 70px 4.685% 10px;
    }
    .search-form__box{
        flex-direction: column;
        align-items: center;
        gap: 45px;
        padding-bottom: 70px;
    }
    .search-form__bar{
        width: 100%;
    }
}

@media screen and (max-width: 940px) {

    .search-form{
        padding: 60px 3.9% 10px;
    }
    .search-form__box{
        gap: 37px;
        padding-bottom: 57px;
    }
}

@media screen and (max-width: 520px) {

    .search-form{
        padding: 60px 3.125% 10px;
    }
    .search-form__box{
        gap: 44px;
        padding-bottom: 44px;
    }

    .search-form__input{
        margin-left: 16px;
    }

    .search-form__input::placeholder{
        font-size: 11px;
    }
}