.nav-table{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    gap: 10px;
    background: #F5F5F5;
    border-radius: 10px;
    margin-bottom: 30px;
}

.nav-table__link{
    color: #FFFFFF;
    text-decoration: none;
    padding: 10px 13.5px;
    border: none;
    background: #E8E8E8;
    border-radius: 10px;
}

.nav-table__link:hover{
    background-color: grey;
}

@media screen and (max-width: 730px){

    .nav-table{
        font-size: 11px;
        gap: 8px;
        margin-bottom: 4.11%;
    }

    .nav-table__link{
        padding: 7.5px 14.5px;
    }
}

@media screen and (max-width: 410px){

    .nav-table{
        font-size: 10px;
        gap: 6px;
        margin-bottom: 5.82%;
    }
    
    .nav-table__link{
        padding: 5px 15.5px;
    }
}